
header {
  background: rgb(63,250,251);
  background: linear-gradient(350deg, rgba(63,250,251,0.947391456582633) 6%, rgba(63,94,251,1) 35%, rgba(166,66,159,1) 87%, rgba(249,44,86,1) 98%);
}

.bi-sun,
.bi-moon {
  font-size: 22px;
}

.btn-register {
  background: #C02177;
  border: none;
  padding: 10px 20px;
}

#title-container {
  margin: 0 auto;
  padding: 0 20px;
  font-weight: bold;
  line-height: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  text-align: center;
  text-transform: uppercase;
}

#title {
  font-size: 60px;
}

#subtitle {
  font-size: 40px;
  font-weight: normal;
}

.text-theme-dark {
  color: #fff;
}

.text-theme-light {
  color: #000;
}

/* .register {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;

  background: url(../img/hombre-gafas.jpg);
  background-size: cover;
  background-position: center;
} */